@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.home0 {
    -webkit-animation: home0 30s ease-in-out infinite;
    -moz-animation: home0 30s ease-in-out infinite;
    -ms-animation: home0 30s ease-in-out infinite;
    -o-animation: home0 30s ease-in-out infinite;
    animation: home0 30s ease-in-out infinite;
    animation-fill-mode: forwards;
}
.home1 {
    -webkit-animation: home1 30s ease-in-out infinite;
    -moz-animation: home1 30s ease-in-out infinite;
    -ms-animation: home1 30s ease-in-out infinite;
    -o-animation: home1 30s ease-in-out infinite;
    animation: home1 30s ease-in-out infinite;
}
.slide {
    -webkit-animation: slide 30s ease-in-out infinite;
    -moz-animation: slide 30s ease-in-out infinite;
    -ms-animation: slide 30s ease-in-out infinite;
    -o-animation: slide 30s ease-in-out infinite;
    animation: slide 30s ease-in-out infinite;
}
.lanterns {
    -webkit-animation: lanterns 30s ease-in-out infinite;
    -moz-animation: lanterns 30s ease-in-out infinite;
    -ms-animation: lanterns 30s ease-in-out infinite;
    -o-animation: lanterns 30s ease-in-out infinite;
    animation: lanterns 30s ease-in-out infinite;
}
@-webkit-keyframes slide {
    0% {
        transform: translate(-75%, 0);
    }
    50% {
        transform: translate(-50%, 0);
    }
    100% {
        transform: translate(-75%, 0);
    }
}
@keyframes slide {
    0% {
        transform: translate(-75%, 0);
    }
    50% {
        transform: translate(-50%, 0);
    }
    100% {
        transform: translate(-75%, 0);
    }
}
@-webkit-keyframes home1 {
    0% {
        transform: translate(-2%, 0);
    }
    50% {
        transform: translate(0%, 0);
    }
    100% {
        transform: translate(-2%, 0);
    }
}

@keyframes home1 {
    0% {
        transform: translate(-2%, 0);
    }
    50% {
        transform: translate(0%, 0);
    }
    100% {
        transform: translate(-2%, 0);
    }
}
@-webkit-keyframes home0 {
    0% {
        transform: translate(0%, 0);
    }
    50% {
        transform: translate(-3%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}
@keyframes home0 {
    0% {
        transform: translate(0%, 0);
    }
    50% {
        transform: translate(-3%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}
@-webkit-keyframes lanterns {
    0% {
        transform: translate(0%, 0);
    }
    50% {
        transform: translate(-1%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}
@keyframes lanterns {
    0% {
        transform: translate(0%, 0);
    }
    50% {
        transform: translate(-1%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}
